.container {
  background-color: #0B1223;
  border-radius: 2rem;
}

.container h1 {
  color: white;
}

.input-container,
.input-container-2 {
  display: flex;
  flex-direction: column;
  background-color: #1C243E;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 40rem;
}

.swap-form {
  position: relative;
  z-index: 1;
  padding: 0 0 2rem 0;
}



.input-container-top {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 0;
}

.input-container-top label,
.input-container-top span {
  color: lightgrey;
}



.input-container-bottom,
.input-container-2-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.input-container-bottom input,
.input-container-2-bottom input {
  font-size: 1.2rem;
}

.input-container-2-top {
  display: flex;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}


.to-label {
  color: lightgrey;
}

.custom-select {
  width: 100%;
  border: none;
  border-radius: 1rem;
  background-color: #1C243E;
  color: #fff;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  position: relative;
  font-size: 1.3rem;
  padding: 0 0 0 1rem;
}

.custom-select-container::after {
  content: '▼'; /* Custom arrow */
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

.input {
  padding: 10px;
  border: 0px;
  border-radius: 4px;
  background-color: #1C243E;
  text-align: right;
  color: white;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swap-button {
  position: absolute;
  top: 7.5rem;
  left: 21rem;
  border-radius: 1rem;;
  border: 0;
  background-color: #0B1223;
}

.swap-button img{
  width: 2rem;
  z-index: 999;
}

.button {
  width: 43rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #2C75D3;
  font-size: 1.2rem;
  cursor: pointer;
}

.swap-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
